<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

#all{
	width: 300px;
	height:420px;
	border: 1px solid green;
	padding: 50px;
	margin: auto;
}

#all .box{
	width: auto;
	height:75px;
	border: 1px solid red;
	text-align: center;
	margin-bottom: 5px;	
}
#all .box span{
	line-height: 80px;
}

/*
#all .box:nth-child(3){
	border-bottom: 1px solid blue;
}
*/



</style>
</head>
<body>
<div id="all">

	<div class="box">
		<span>Box1</span>
	</div>


	<div class="box">
		<span>Box2</span>
	</div>


	<div class="box">
		<span>Box3</span>
	</div>
	
	
	
</div>

<div class="box">
	
		<input type="button" value="Input">
		
	</div>

</body>
</html>