@import "init.css";

#wrap{
	width: 100%;
	height: 100%;
	margin: auto;
}

/* Header 상단영역 */

/* 이미지 로고 */
.logo{
	width:480px;
	height:59px;
	background: url(../images/logo.png) no-repeat;
	position: relative;
	top: 25px;
}
/* 이미지 로고 정보 (?) */
.logo_info{
	display:inline-block;
	width:297px;
	background: url(../images/logo_info.gif) no-repeat;
	position: absolute;
	right :5px;
	top: 25px;
	text-indent: -3000px
}

#header{
	width: 980px;
	height: 150px;
	margin: 0 auto;
	position: relative;
}

#header .gnb{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	overflow: hidden;
	font-size: 0;
}

#header .gnb li{
	display: inline-block;
	width:190px;
	height:150px;
	text-align: center;
	background-color: #ff5001;
}
.menu{
	line-height: 45px;
	color: #fff;
	font-size: 17px;
	font-weight:bold;
	padding-left: 35px;
	background: url(../images/gnb_bult.png) no-repeat;
}
/* gnb_bult.png(아이콘)
	너비 23 
	높이 110
*/


/* 높이 / 23 씩 나눠서 아이콘 영역에 맞춰주기 */
span.m01{
	background-position: 0 0;
}
span.m02{
	background-position: 0 -22px;
}
span.m03{
	background-position: 0 -44px;
}
span.m04{
	background-position: 0 -68px;
}
span.m05{
	background-position: 0 -88px;
}

#header .gnb li:hover{
	background-color: #e24c09;
}
/*=================== 상단메뉴 끝 =================== */









