<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SK Together Clone Main</title>
<link >
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/main.css">
</head>
<body>

	<!-- Wrap  -->
	<div id="wrap">
		<!-- 헤더 & 메뉴& 로고 -->
		<header id="header">
			<div class="null">
				로그인 회원가입 사이트맵 English
			</div>
			<h1 class="logo">
				<div class="logo_info">사람과 함께, 사람을 향하는 SK텔레콤 고객참여 사회 공헌 포털</div>
			</h1>
			
			<ul class="gnb">
				<li><a href="#"><span class="menu m01">기브유</span></a></li>
				<li><a href="#"><span class="menu m02">위드유</span></a></li>
				<li><a href="#"><span class="menu m03">스마트 전통시장</span></a></li>
				<li><a href="#"><span class="menu m04">BRAVO !</span></a></li>
				<li><a href="#"><span class="menu m05">SKT와 사회공헌</span></a></li>
			</ul>
		</header>

		<!-- 메인 콘텐트. -->
		<div id="contents">
		
			<div class="main_img">
				<a href="#"><img src="../images/@img00.png" alt="서울안전체험 한마당봉사"> </a>
			</div>
			
			<!-- 카드 작업  -->
			<div class="main_news">
			
				<div class="news_type01 fl">
					<p class="title">기브유 후원참여</p>
					<a href="#" class="news_src">
					<span class="thum_img">
						<img src="../images/@img01.png" alt="기사사진">
					</span>
					<span class="subject ellip">난청이지만 피아니스트가 되고픈 한별이의 이야기 입니다</span>
					<span class="writer">by ttogether</span>
					<span class="more_view">자세히 보기</span>
					<span class="fclear"></span>
				</a>
				</div>
				
				<div class="news_type01 cen">
					<p class="title">기브유 후원금 쓰임 현황</p>
					<a href="#" class="news_src">
					<span class="thum_img">
						<img src="../images/@img02.png" alt="기사사진">
					</span>
					<span class="subject ellip">레티하씨 가정에 희망의 집 선물</span>
					<span class="writer">by 한국 해비타트</span>
					<span class="more_view">자세히 보기</span>
					<span class="fclear"></span>
				</a>
				</div>
			
				<div class="news_type01 fr">
					<p class="title">기브유 후원참여</p>
					<a href="#" class="news_src">
					<span class="thum_img">
						<img src="../images/@img03.png" alt="기사사진">
					</span>
					<span class="subject ellip">1리터의 생명을 선물해주세요.</span>
					<span class="writer">by hungersaver</span>
					<span class="more_view">자세히 보기</span>
					<span class="fclear"></span>
				</a>
				</div>
			</div>
			<!-- 카드 끝 -->
		</div>
		
		<div id="news_notice">
			
			<div class="notice_type01">
				<ul class="test">
					<li><p class="titleA">공지사항</p></li>
					<li><span class="more_views"><a href="#">더보기</a></span></li>
				</ul>
				
				<div class="inner_content">
					<ul class="inner_ul">
					<li>
						<a href="#">T-together 리뉴얼 오픈되었습니다.</a>
						<span class="date">2021.04.05</span>
					</li>
					
					<li>
						<a href="#">GiveU 이벤트 당첨자 공지입니다</a>
						<span class="date">2021.04.05</span>
					</li>
					
					<li>
						<a href="#">{value}</a>
						<span class="date">2021.03.17</span>
					</li>
				</ul>
				</div>
			</div>
			
				<div class="notice_type01 cen" >
						<span>Test</span>
				</div>
				
				
			
		</div>
		
		<footer>
			<span>Footer</span>
		</footer>
		
		
		
	</div>
	
	
	
</body>
</html>