<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SK Together Clone Main</title>
<link >
<link rel="stylesheet" href="../css/common.css">
</head>
<body>

	<div id="wrap">
		<header id="header">
			<h1>Header</h1>
			<ul class="gnb">
				<li><a href="#"><span class="menu m01">기브유</span></a></li>
				<li><a href="#"><span class="menu m02">위드유</span></a></li>
				<li><a href="#"><span class="menu m03">스마트 전통시장</span></a></li>
				<li><a href="#"><span class="menu m04">BRAVO !</span></a></li>
				<li><a href="#"><span class="menu m05">SKT와 사회공헌</span></a></li>
			</ul>
		</header>
	</div>

</body>
</html>